body {
  margin: 0;
  padding: 0;
  background-image: url('https://res.cloudinary.com/ddlwjsfml/image/upload/v1703596098/AI_professionals_on_the_front_line_in_saving_lives_with_new_medical_technologies_1_foaqgx.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}